:root {
    --main-darkerblue: #0D0D0D;
    --main-darkblue: #0B3B59;
    --main-blue: #2C5973;
    --main-lightblue: #518EA6;
    --main-lighterblue: #79C7D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-lightblue);
    font-size: 1.4rem;
    font-weight: 700;
}

a:hover, a:active {
    text-decoration: underline;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-darkerblue);
    border: 2px solid var(--main-lighterblue);
    color: var(--main-lightblue);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-size: 1.6rem;
}

.navBar {
    padding: 0 25px;
    height: 2.4rem;
    order: 2;
}

.navBar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navBar-list li {
    line-height: 2.4rem;
}

.navBar-list li a {
    font-size: 1.6rem;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    min-width: 280px;
    order: 1;
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--main-blue);
}

.hero-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--main-darkerblue);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img{
    display: block;
    width: 250px;
    padding-top: 50px;
}

.hero-text {
    color: var(--main-darkerblue);
    margin-top: 16px;
}

.hero-text__title {
    font-size: 2.4rem;
}