:root {
    --main-darkerblue: #0D0D0D;
    --main-darkblue: #0B3B59;
    --main-blue: #2C5973;
    --main-lightblue: #518EA6;
    --main-lighterblue: #79C7D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-lightblue);
    font-size: 1.4rem;
    font-weight: 700;
}

a:hover, a:active {
    text-decoration: underline;
}

.mainContainer {
    width: 100vw;
    background-color: var(--main-darkerblue);
    border: 2px solid var(--main-lighterblue);
    color: var(--main-lightblue);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

@media screen and (min-height: 460px) {
    .mainContainer {
        height: 100vh;
    }
}