:root {
    --site-black: #000;
    --site-white: #f7faff;
    --white-logo: #d6d9db;
    --font-white: #e7e9ea;
    --font-gray: #71767b;
    --brand-blue: #1d9bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.main {
    width: 100%;
}

.main a {
    text-decoration: none;
    color: var(--brand-blue);
}

.main a:hover, .main a:active{
    text-decoration: underline;
}

.main-login {
    width: 100%;
    background-color: #000;
    color: var(--font-white);
    padding: 30px;
    font-weight: 700;
    overflow-wrap: break-word;
}

.main-login__logo {
    font-size: 4.2rem;
    line-height: 4.9rem;
}

.main-login__title1 {
    font-size: 4rem;
    line-height: 5.2rem;
    margin: 3.8rem 0;
}

.main-login__title2 {
    font-size: 2.2rem;
    line-height: 2.7rem;
    margin-bottom: 1.9rem;
}

.main-login__title3 {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.5rem;
    margin-top: 40px;
}

.main-login__cta {
    background-color: #fff;
    border: none;
    color: var(--site-black);
    min-width: 300px;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 700;
    outline: none;
    margin-bottom: 16px;
}

.main-login__cta span {
    margin-right: 5px;
    color: var(--site-black);
}

.main-login__cta:hover, .main-login__cta:active {
    filter: brightness(85%);
}

.google {
    color: var(--font-gray);
}

.mail {
    background-color: var(--brand-blue);
    color: var(--font-white);
}

.signin {
    background-color: var(--site-black);
    border: 1px solid var(--font-gray);
    color: var(--brand-blue);
}

.main-login__separator {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 19px;
}

.main-login__separator > hr {
    width: 40%;
    height: 1px;
    border: 1px solid var(--font-gray);
}

.main-login__separator > p {
    margin: 0 5px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.main-login__terms {
    font-weight: 400;
    color: var(--font-gray);
    margin-bottom: 16px;
}